%h1 Recipe Detail

%h2= @recipe.rname

%p= @recipe.rcalorie

- if @image_link != nil
	%h2= image_tag(@image_link['recipe_image'])


/ %h2= @description
%h2 Cooking Instruction

-@description["direction"].each do |dir|
	%p= dir["direction_description"]

/ <p id="notice"><%= notice %></p>

/ <p>
/   <b>Rid:</b>
/   <%= @recipe.rid %>
/ </p>

/ <p>
/   <b>Rname:</b>
/   <%= @recipe.rname %>
/ </p>

/ <p>
/   <b>Rcalorie:</b>
/   <%= @recipe.rcalorie %>
/ </p>

/ <p>
/   <b>Rrating:</b>
/   <%= @recipe.rrating %>
/ </p>

/ <p>
/   <b>Rcategory:</b>
/   <%= @recipe.rcategory %>
/ </p>




/ <%= link_to 'Edit', edit_recipe_path(@recipe) %> |

=link_to_function "Back", "history.back()", class: "btn btn-xs edituser"
/ =link_to 'All recipes', recipes_path, class: "btn btn-xs edituser"
/ =link_to 'Back', foods_path
/ =link_to 'Back', url_for(:back)






